{% extends "base.html" %}
{% set home_active = true %}
{% block title %}Homepage{% endblock %}
{% block content %}
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">Welcome!</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">This is a demo website for testing multivariable linear and logistical regression algorithms live.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Github</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Linear</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Logistic</button>
      </div>
    </div>
  </div>
{% endblock %}