{% extends "base.html" %}
{% set linear_active = true %}
{% block head %}
{{ super() }}
<style>
  .lighter-green {
    background-color: #6fbf6f!important;
  }
  .lighter-red {
    background-color: #db6560!important;
  }
</style>
{% endblock %}
{% block title %}Linear{% endblock %}
{% block content %}
<div class="container mt-5">
  <div class="row gx-5 justify-content-center">
    <div class="col-8">
      <table id="reg-table" class="table table-bordered"></table>
    </div>
    <div id="edit_feature_col" class="col d-none">
      <div id="edit_feature_card" class="card" style="width: 18rem;">
        <div id="edit_feature_title" class="card-header">
          Featured
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><input id="edit_input"></li>
          <li id="edit_done" class="list-group-item text-light text-center bg-success ">Done</li>
          <li id="edit_delete" class="list-group-item text-light text-center bg-danger">Delete</li>
        </ul>
      </div>
    </div>
    <div id="new_feature_col" class="col d-none">
      <div id="new_feature_card" class="card" style="width: 18rem;">
        <div id="new_feature_title" class="card-header">
          New Feature
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><input id="new_name_input" value="Feature_X"></li>
          <li id="new_create" class="list-group-item text-light text-center bg-success ">Create</li>
          <li id="new_cancel" class="list-group-item text-light text-center bg-danger">Cancel</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/11.10.0/math.min.js"></script> -->
<script src="{{url_for('static', filename='linear.js')}}"></script>
{% endblock %}