{% extends "base.html" %} {% set logistic_active = true %} {% block head %} {{
super() }}
<style>
  .lighter-green {
    background-color: #6fbf6f !important;
  }
  .lighter-red {
    background-color: #db6560 !important;
  }
</style>
{% endblock %} {% block title %}Logistic{% endblock %} {% block content %}
<div id="main_container" class="container mt-5">
  <div class="row gx-5 justify-content-center">
    <div class="col-8">
      <table id="reg-table" class="table table-bordered"></table>
    </div>
    <div id="edit_feature_col" class="col d-none">
      <div id="edit_feature_card" class="card" style="width: 18rem">
        <div id="edit_feature_title" class="card-header">Featured</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><input id="edit_input" /></li>
          <li
            id="edit_done"
            class="list-group-item text-light text-center bg-success"
          >
            Done
          </li>
          <li
            id="edit_delete"
            class="list-group-item text-light text-center bg-danger"
          >
            Delete
          </li>
        </ul>
      </div>
    </div>
    <div id="new_feature_col" class="col d-none">
      <div id="new_feature_card" class="card" style="width: 18rem">
        <div id="new_feature_title" class="card-header">New Feature</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <input id="new_name_input" value="Feature_X" />
          </li>
          <li
            id="new_create"
            class="list-group-item text-light text-center bg-success"
          >
            Create
          </li>
          <li
            id="new_cancel"
            class="list-group-item text-light text-center bg-danger"
          >
            Cancel
          </li>
        </ul>
      </div>
    </div>
    <div id="learn_col" class="col d-none">
      <div id="learn_card" class="card" style="width: 18rem">
        <div id="learn_title" class="card-header">Learning Settings</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="row">
              <div class="col">lambda:</div>
              <div id="lambda_val" class="col" contenteditable="true">
                0.001
              </div>
              <div id="inc_lambda" class="col-2 border text-center">+</div>
              <div id="dec_lambda" class="col-2 border text-center">-</div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col">alpha:</div>
              <div id="alpha_val" class="col" contenteditable="true">0.001</div>
              <div id="inc_alpha" class="col-2 border text-center">+</div>
              <div id="dec_alpha" class="col-2 border text-center">-</div>
            </div>
          </li>
          <li
            id="learn_start"
            class="list-group-item text-light text-center bg-success"
          >
            Start
          </li>
          <li
            id="learn_cancel"
            class="list-group-item text-light text-center bg-danger"
          >
            Cancel
          </li>
        </ul>
      </div>
    </div>

    <div class="center-container">
      <style>
        .center-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-bottom: 30px;
        }
      </style>

      <div id="graph_col" class="col-6 d-none">
        <div id="graph_card" class="card">
          <div id="graph_title" class="card-header">Learning Curve</div>
          <div class="card-body">
            <div class="row">
              <canvas id="curve"></canvas>
            </div>
            <div class="row">
              <canvas id="curve1"></canvas>
            </div>
            <div class="row">
              <div id="stop_btn" class="col-6 text-center border stop_button">
                stop
              </div>
              <div id="exit_btn" class="col-6 text-center border exit_button">
                exit
              </div>
              <style>
                .stop_button {
                  background-color: #3eba39;
                  color: white;
                  transition: background-color 0.3s;
                }
                .exit_button {
                  background-color: #bf2a39;
                  color: white;
                  transition: background-color 0.3s;
                }
              </style>
            </div>
          </div>
        </div>
      </div>
      <!-- W testing-->
      <div id="w_update" class="col-4 d-none">
        <div id="w_card" class="card">
          <div id="w_title" class="card-header bg-primary text-white">
            Parameters
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="row">
                <div class="col-4 border-right">w:</div>
                <div id="w_val" class="col-8"></div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-4 border-right">b:</div>
                <div id="b_val" class="col-8"></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!--end-->
      <div id = 'outside_panel' class ="col-6 d-none container-top">
        <style>
          .container-top {
            display: flex;
            flex-direction: column; /* Align children vertically */
            align-items: center; /* Align children to the start of the container */
            padding: 20px; /* Add some padding for spacing */
            border: 2px solid #3498db; /* Add a blue border */
            border-radius: 10px; /* Add rounded corners */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
            background-color: #f0f0f0; /* Set a light background color */
            color: #333; /* Set text color */
            margin-top: 30px;
        }
        </style>
        <div id = 'pr_text' class = "prediction-text">Prediction
          <style>
            .prediction-text {
              font-size: 18px; /* Slightly smaller font size */
              font-weight: bold; /* Set the font weight */
              margin: 10px auto; /* Add spacing above and below the text and center it horizontally */
              text-align: center; /* Center the text horizontally within the container */
              color: #3897f0; /* Instagram-like blue text color */
              background-color: #fff; /* White background color */
              padding: 8px 12px; /* Smaller padding for a more compact look */
              border-radius: 4px; /* Slightly rounded corners */
              box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle box shadow for depth */
              margin-top: 5px;
            }
          </style> 
        </div>
          
        <div id='pr_panel' class='col-4 containerc'>
          <style>
            .containerc {
                display: flex;
                flex-direction: column; /* Align children vertically */
                align-items: center; /* Align children to the start of the container */
            }
            
        </style>
        </div>
        <button id="predict_button">Submit
          <style>
            #predict_button {
                background-color: #3897f0; /* Instagram-like blue background color */
                color: white; /* White text color */
                padding: 10px 20px; /* Padding around the text */
                border: none; /* Remove the default border */
                border-radius: 5px; /* Rounded corners */
                cursor: pointer; /* Add a pointer cursor on hover */
                font-weight: bold; /* Bold text */
                font-size: 16px; /* Font size */
                text-align: center; /* Center text horizontally */
                display: block; /* Make the button a block-level element */
                margin: 10px auto; /* Center the button horizontally within its container */
                width: 150px; /* Set a fixed width */
            }
        </style>
        </button>
        <div id = 'result' class = ''>Prediction Result: </div>
      </div>
    </div>
  </div>
</div>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/11.10.0/math.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
  integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
  crossorigin="anonymous"
></script>
<script src="{{url_for('static', filename='logistic.js')}}"></script>
{% endblock %}
